body {
  margin: 0;
  padding: 0;
  
}
.container {
  margin: 0;
  border: 1px solid black;
  /* padding: 10px; */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../../../../images/bg-dashboard.jpg');
  background-size: cover;

}
.item {
  padding: 20px;
  margin: 10px;
}

/* styling section profil data diri */

.data-profil {
  margin: 0;
  background-image: url('../../../../images/bg-hero.jpg');
  background-size: cover;
}
.foto-profil {
  display: flex;
  justify-content: center;
  /* border: 1px solid yellow; */
}
.foto-profil form {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.foto-profil form .btnedit input {
  margin: 0;
}
.foto-profil h4 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.foto-profil img {
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: 3px 3px 3px 3px rgb(74, 64, 48);
  background-color: white;

}

.form-ubah-foto {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid yellow; */
  align-items: center;
}
.form-ubah-foto .btnedit {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  
}

.form-ubah-foto .btnedit button {
  width: 90px;
  height: 30px;
  margin: 0;
}
.form-ubah-foto h4 {
  margin: 10px;
}
.form-data-diri h2 {
  font-size: 60px;
  margin: 0;
  color: rgb(255, 255, 255);
}
.data-diri {
  width: 70%;
  /* border: 1px solid yellow; */
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.data-diri .ubah-sampul {
  display: flex;
  justify-content: end;
}
.form-data-diri h3 {
  font-size: 30px;
  background-color: rgba(255, 204, 0, 0.6);
  padding: 10px 0;
  margin-top: 10px;
}
.form-data-diri p {
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 3px black;
}
.form-data-diri button {
  margin: 0;
  width: 130px;
  height: 35px;
  font-size: 18px;
  background-color: green;
  border: 4px solid rgb(0, 50, 0);
  border-radius: 5px;
  color: rgb(206, 255, 206);
}
/* akhir styling section profil data diri */

/* styling section content blog */
.content-blog {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 15px solid rgb(31, 31, 31);
  margin: 0;
}
.content-blog h2 {
  /* border: 1px solid yellow; */
  text-align: center;
  margin: 0;
  font-size: 40px;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgba(0, 0, 45, 0.5);
}
.content-blog .content {
  /* padding: 5px; */
  display: flex;
  justify-content: space-evenly;
}
.content .content1,
.content2 {
  /* border: 1px solid white; */
  width: 45%;
  padding: 20px;
}
.content1 h3 {
  font-size: 30px;
  color: yellow;
  text-shadow: 2px 2px 6px black;
}
.content1 p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 6px black;
}
.content2 h3 {
  font-size: 30px;
  color: yellow;
  text-shadow: 2px 2px 6px black;
}
.content2 p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 6px black;
}
.content2 form {
  display: flex;
  justify-content: end;
}
.content2 form button {
  height: 40px;
  width: 150;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: rgb(0, 46, 94);
  border: 3px solid rgb(0, 0, 75);
  color: rgb(229, 249, 255);
}

/* akhir styling section content blog */

/* styling gallery foto */
.gallery-foto {

  margin: 0;
}
.gallery-foto h2 {
  font-size: 40px;
  color: rgb(0, 40, 172);
  text-shadow: 3px 3px 7px rgb(255, 255, 255);
  text-align: center;
}
.gallery-foto .kotak3 {

  display: flex;
}

.kotak3 .image {
  /* border: 1px solid yellow; */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kotak3 .image a {
  margin: 0px;
  font-size: 18px;
  background-color: rgb(17, 17, 17,.8);
  border: 3px solid black;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.kotak3 .image a:hover {
  transform: scale(1.05);
  transition: .5s;
}
.gallery-foto .image img {
  width: 300px;
  height: 300px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 10px rgb(0, 45, 101);
  background-color: white;
  margin: 0;
}
.gallery-foto form {
  /* border: 1px solid yellow; */
  text-align: end;
}
.gallery-foto form button {
  height: 40px;
  width: 150;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: rgb(0, 46, 94);
  border: 3px solid rgb(0, 0, 75);
  color: rgb(229, 249, 255);
}
/* akhir styling gallery foto */




/* styling contact us */
.contactus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.contactus .formcontactus {
  background-color: rgba(212, 236, 255, 0.6);
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  padding: 0 30px;
  border-radius: 10px;
}
.contactus .formcontactus h1,
label,
input[type='text'],
textarea,
button {
  margin: 15px;
}
.contactus .formcontactus h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(0, 40, 172);
  text-shadow: 3px 3px 7px rgb(255, 255, 255);
}
.contactus .formcontactus label {
  font-size: 18px;
  color: rgb(0, 0, 73);
}
.contactus .formcontactus input[type='text'] {
  width: 95%;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 3px rgb(25, 116, 132);
  border: none;
  background-color: rgb(247, 253, 255);
}
.contactus .formcontactus textarea {
  width: 95%;
  box-shadow: 0px 0px 6px 3px rgb(25, 116, 132);
  background-color: rgb(247, 253, 255);
  border-radius: 5px;
  border: none;
}
.contactus .formcontactus button {
  height: 40px;
  width: 150;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: rgb(0, 46, 94);
  border: 3px solid rgb(0, 0, 75);
  color: rgb(229, 249, 255);
}
.contactus .formcontactus button:hover {
  background-color: rgb(0, 46, 94);
  border: 3px solid rgb(0, 0, 75);
  color: rgb(179, 192, 196);
}


/* VALIDASI PESAN USER */
.contactus .disablecontent {
  background-color: rgba(0, 0, 0,0);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactus .disablecontent .validasipesan {
  background-color: rgba(255, 255, 255,0.8);
  border: 4px solid rgb(179, 179, 179);
  width: 400px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 9px rgb(49, 49, 49); 
}
.disablecontent .validasipesan .image {
  width: 90px;
}
.disablecontent .validasipesan .judul {
  margin: 5px;
}
.disablecontent .validasipesan .btnvalidasi {
  width: 50%;
  height: 30px;
  background-color: rgb(255, 102, 0);
  border-radius: 5px;
  border: 3px solid rgb(193, 51, 0);
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 229, 126);

}