@use 'judulAboutme' as jdlAbt;
@use 'dataDiri' as dd;
.items.about-me {
  grid-area: about-me;
  background-color: rgb(91, 59, 0);
  .judul-about {
    @include jdlAbt.judul-about-style;
  }
  .garis {
    @include jdlAbt.garis-style;
    margin-bottom: 1rem;
  }
  .background-about {
    @include dd.data-diri-style;
  }
}
@media screen and (max-width: 768px) {
  .items.about-me {
    .background-about {
      grid-template-areas:
        'image image'
        'data-profile data-profile'
        'deskripsi-karir deskripsi-karir';
    }
  }
}
