@use 'judulText' as txtJudul;
@use 'subJudul' as subJdl;
@use 'textDeskripsi' as txtDes;
@use 'buttonOrder' as btnOrder;
@use 'gambarPizza' as gb;
.items.landing-page {
  grid-area: landing-page;
  background-color: rgb(180, 138, 0);
  height: 55rem;
  position: relative;

  .bg-image {
    position: absolute;
    //  z-index:1;
  }

  .text-promosi {
    padding: 5px;
    position: absolute;
    top: 4rem;
    left: 2rem;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'judul-text judul-text '
      'sub-judul sub-judul'
      'deskripsi-text deskripsi-text'
      'btn-order btn-order'
      'gambar-pizza gambar-pizza';
    // border: 1px solid yellow;
    width: 50%;
    .item {
      // border: 1px solid white;
      padding: 5px;
    }

    .judul-text {
      grid-area: judul-text;
      @include txtJudul.style-text-judul;
    }
    .sub-judul {
      grid-area: sub-judul;
      @include subJdl.style-sub-judul;
    }
    .deskripsi-text {
      grid-area: deskripsi-text;
      @include txtDes.style-text-deskripsi;
    }
    .btn-order {
      grid-area: btn-order;
      @include btnOrder.style-button-order;
    }
    .gambar-pizza {
      grid-area: gambar-pizza;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .gambar-1 {
        @include gb.style-gambar-pizza;
      }
      .gambar-2 {
        @include gb.style-gambar-pizza;
      }
      .gambar-3 {
        @include gb.style-gambar-pizza;
      }
    }
  }
}

// tablet
@media screen and (max-width: 768px) {
  .items.landing-page {
    .text-promosi {
      grid-template-areas:
      'judul-text judul-text '
      'sub-judul sub-judul'
      'deskripsi-text deskripsi-text'
      'btn-order btn-order'
      'gambar-pizza gambar-pizza';
      width: 90%;
    }
  }
}
// tablet
@media screen and (max-width: 576px) {
  .items.landing-page {
    .text-promosi {
      grid-template-areas:
      'judul-text judul-text '
      'sub-judul sub-judul'
      'deskripsi-text deskripsi-text'
      'btn-order btn-order'
      'gambar-pizza gambar-pizza';
      width: 90%;
      height: 250px;
      top: 0;
      left: 0;
    }
  }
}

