.items.order {
  grid-area: order;
  background-color: black;
  border: 1px solid yellow;
  display: grid;
  grid-template-areas: "order-online order-offline";
  grid-template-columns: 1fr 1fr;
  border-bottom: 1rem solid grey;
}
.items.order .order-online {
  grid-area: order-online;
  margin: 0.5rem;
}
.items.order .order-online .text-order {
  margin-top: 2rem;
  background-color: rgb(0, 96, 56);
  width: 50%;
  height: 7rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.order .order-online .text-order h2 {
  font-family: "poppins";
  font-weight: bolder;
  color: white;
  font-size: 3rem;
  padding: 1rem;
}
.items.order .order-online .deskripsi {
  background-color: rgb(160, 115, 0);
  height: 23rem;
  display: flex;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.items.order .order-online .deskripsi .sosmed {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.items.order .order-online .deskripsi .sosmed ul {
  background-color: rgb(253, 192, 80);
  padding: 1rem;
  border-radius: 1rem;
  list-style: none;
}
.items.order .order-online .deskripsi .kurir {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.items.order .order-online .deskripsi .kurir .text {
  display: flex;
  justify-content: end;
  font-family: "poppins";
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orange;
}
.items.order .order-offline {
  grid-area: order-offline;
  margin: 0.5rem;
}
.items.order .order-offline .text {
  display: flex;
  justify-content: end;
  align-items: center;
}
.items.order .order-offline .text .text-order {
  margin-top: 2rem;
  background-color: rgb(0, 96, 56);
  width: 50%;
  height: 7rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.order .order-offline .text .text-order h2 {
  font-family: "poppins";
  font-weight: bolder;
  color: white;
  font-size: 3rem;
  padding: 1rem;
}
.items.order .order-offline .content-offline {
  display: grid;
  grid-template-areas: "image alamat";
  padding: 5px;
  box-sizing: border-box;
}
.items.order .order-offline .content-offline .image {
  grid-area: image;
  background-color: rgb(255, 226, 123);
}
.items.order .order-offline .content-offline .text-alamat {
  grid-area: alamat;
  background-color: orange;
  font-family: "poppins";
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.items.order .order-offline .content-offline .text-alamat .text-1 {
  width: 100%;
}
.items.order .order-offline .content-offline .text-alamat .text-2 {
  background-color: red;
  border-bottom: 5px solid yellow;
  border-top: 5px solid yellow;
  padding: 0 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.items.order .order-offline .content-offline .text-alamat .text-3 {
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
}
.items.order .order-offline .content-offline .text-alamat .text-3 ul {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .items.order {
    grid-template-areas: "order-online" "order-offline";
    background-color: red;
  }
  .items.order .order-online {
    width: 100%;
  }
  .items.order .order-offline {
    width: 100%;
  }
}/*# sourceMappingURL=order-style.css.map */