@use 'orderOnline-style' as odrOn;
@use 'orderOffline-style' as odrOff;
.items.order {
  grid-area: order;
  background-color: black;
  
  border: 1px solid yellow;
  display: grid;
  grid-template-areas: 
  'order-online order-offline';
  grid-template-columns: 1fr 1fr;
  border-bottom: 1rem solid grey;


  .order-online {
    grid-area: order-online;
    // border: 1px solid white;

    margin: 0.5rem;
    
    @include odrOn.order-online-style;
  }

  .order-offline {
    grid-area: order-offline;
    // border: 1px solid white;
    margin: 0.5rem;
    @include odrOff.order-offline-style;
  }
}
@media screen and (max-width: 768px) {
  .items.order {
    grid-template-areas: 
  'order-online'
  'order-offline';
  background-color: red;
  .order-online {
    width: 100%;
  }
  .order-offline {
    width: 100%;
  }
  }
}

