body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* styling validasi register */
.disablecontent {
  background-color: rgba(0, 0, 0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.validasiregister {
  background-color: white;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.validasiregister .judul {
  font-size: 30px;
  color: black;
  margin: 0;
}
.validasiregister .iconimage {
  width: 100px;
  margin: 0;
}
.validasiregister .btnvalidasi {
  width: 150px;
  background-color: orange;
  border: 3px solid orangered;
  color: black;
  margin: 0;
  font-size: 18px;
  border-radius: 5px;
}
.validasiregister .btnvalidasi:hover {
  width: 150px;
  background-color: rgb(255, 51, 0);
  border: 3px solid rgb(194, 52, 0);
  color: white;

}



/* akhir styling validasi register */


.container {
  background-image: url('../../../images/bg-login-register.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;

  border: 1px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
h2 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: rgb(2, 46, 0);
  
}
.form-register {
  background-color: rgba(180, 212, 121, 0.8);
  width: 500px;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;

}
.form-register label,
input[type='text'],
input[type='password'],
button {
  margin: 7px;

}
.form-register input[type='text'],
input[type='password'] {
  height: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 3px rgb(70, 70, 70);
  width: 90%;
}
.form-register label {
  font-size: 19px;
}
.form-register button {
  width: 90%;
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: rgb(0, 90, 42);
  border: 3px solid rgb(0, 64, 0);
  font-size: 18px;
  color: rgb(142, 218, 28);
}
.form-register p {
  margin-left: 30px;
  font-size: 18px;
}
.form-register p a {
  text-decoration: none;
}
