.items.menu-minum {
  grid-area: menu-minum;
  background-color: #795700;
}
.items.menu-minum .judul-minuman {
  font-family: "poppins";
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFB800;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.menu-minum .garis {
  display: flex;
  justify-content: center;
  align-self: center;
}
.items.menu-minum .garis .putih {
  background-color: rgb(0, 0, 0);
  height: 0.4rem;
  width: 30%;
}
.items.menu-minum .garis .orange {
  background: orange;
  height: 0.4rem;
  width: 30%;
}
.items.menu-minum .minuman {
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5rem;
  padding: 1.5rem 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.items.menu-minum .minuman .card-satu {
  width: 22%;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 0px 13px rgb(252, 255, 155);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.items.menu-minum .minuman .card-satu .image {
  background-color: rgb(249, 249, 249);
  height: 60%;
  border-bottom: 5px solid rgb(108, 70, 9);
  display: flex;
}
.items.menu-minum .minuman .card-satu .image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.items.menu-minum .minuman .card-satu .image p {
  margin: auto;
  font-size: 1.5rem;
}
.items.menu-minum .minuman .card-satu .judul {
  font-family: "poppins";
  font-weight: bold;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.menu-minum .minuman .card-satu .harga {
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 0, 0);
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}
.items.menu-minum .minuman .card-dua {
  width: 22%;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 0px 13px rgb(252, 255, 155);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.items.menu-minum .minuman .card-dua .image {
  background-color: rgb(249, 249, 249);
  height: 60%;
  border-bottom: 5px solid rgb(108, 70, 9);
  display: flex;
}
.items.menu-minum .minuman .card-dua .image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.items.menu-minum .minuman .card-dua .image p {
  margin: auto;
  font-size: 1.5rem;
}
.items.menu-minum .minuman .card-dua .judul {
  font-family: "poppins";
  font-weight: bold;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.menu-minum .minuman .card-dua .harga {
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 0, 0);
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}
.items.menu-minum .minuman .card-tiga {
  width: 22%;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 0px 13px rgb(252, 255, 155);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.items.menu-minum .minuman .card-tiga .image {
  background-color: rgb(249, 249, 249);
  height: 60%;
  border-bottom: 5px solid rgb(108, 70, 9);
  display: flex;
}
.items.menu-minum .minuman .card-tiga .image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.items.menu-minum .minuman .card-tiga .image p {
  margin: auto;
  font-size: 1.5rem;
}
.items.menu-minum .minuman .card-tiga .judul {
  font-family: "poppins";
  font-weight: bold;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.menu-minum .minuman .card-tiga .harga {
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 0, 0);
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}
.items.menu-minum .minuman .card-empat {
  width: 22%;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 0px 13px rgb(252, 255, 155);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.items.menu-minum .minuman .card-empat .image {
  background-color: rgb(249, 249, 249);
  height: 60%;
  border-bottom: 5px solid rgb(108, 70, 9);
  display: flex;
}
.items.menu-minum .minuman .card-empat .image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.items.menu-minum .minuman .card-empat .image p {
  margin: auto;
  font-size: 1.5rem;
}
.items.menu-minum .minuman .card-empat .judul {
  font-family: "poppins";
  font-weight: bold;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.menu-minum .minuman .card-empat .harga {
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 0, 0);
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}
.items.menu-minum .minuman .card-lima {
  width: 22%;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 0px 13px rgb(252, 255, 155);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.items.menu-minum .minuman .card-lima .image {
  background-color: rgb(249, 249, 249);
  height: 60%;
  border-bottom: 5px solid rgb(108, 70, 9);
  display: flex;
}
.items.menu-minum .minuman .card-lima .image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.items.menu-minum .minuman .card-lima .image p {
  margin: auto;
  font-size: 1.5rem;
}
.items.menu-minum .minuman .card-lima .judul {
  font-family: "poppins";
  font-weight: bold;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.menu-minum .minuman .card-lima .harga {
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 0, 0);
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}
.items.menu-minum .minuman .card-enam {
  width: 22%;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 0px 13px rgb(252, 255, 155);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.items.menu-minum .minuman .card-enam .image {
  background-color: rgb(249, 249, 249);
  height: 60%;
  border-bottom: 5px solid rgb(108, 70, 9);
  display: flex;
}
.items.menu-minum .minuman .card-enam .image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.items.menu-minum .minuman .card-enam .image p {
  margin: auto;
  font-size: 1.5rem;
}
.items.menu-minum .minuman .card-enam .judul {
  font-family: "poppins";
  font-weight: bold;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.menu-minum .minuman .card-enam .harga {
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 0, 0);
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}
.items.menu-minum .minuman .card-tujuh {
  width: 22%;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 0px 13px rgb(252, 255, 155);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.items.menu-minum .minuman .card-tujuh .image {
  background-color: rgb(249, 249, 249);
  height: 60%;
  border-bottom: 5px solid rgb(108, 70, 9);
  display: flex;
}
.items.menu-minum .minuman .card-tujuh .image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.items.menu-minum .minuman .card-tujuh .image p {
  margin: auto;
  font-size: 1.5rem;
}
.items.menu-minum .minuman .card-tujuh .judul {
  font-family: "poppins";
  font-weight: bold;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.menu-minum .minuman .card-tujuh .harga {
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 0, 0);
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}
.items.menu-minum .minuman .card-delapan {
  width: 22%;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 0px 13px rgb(252, 255, 155);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.items.menu-minum .minuman .card-delapan .image {
  background-color: rgb(249, 249, 249);
  height: 60%;
  border-bottom: 5px solid rgb(108, 70, 9);
  display: flex;
}
.items.menu-minum .minuman .card-delapan .image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.items.menu-minum .minuman .card-delapan .image p {
  margin: auto;
  font-size: 1.5rem;
}
.items.menu-minum .minuman .card-delapan .judul {
  font-family: "poppins";
  font-weight: bold;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.menu-minum .minuman .card-delapan .harga {
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 0, 0);
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}

@media screen and (max-width: 768px) {
  .items.menu-minum .minuman .card {
    width: 30%;
  }
  .items.menu-minum .minuman .card .judul {
    height: 15%;
    font-size: 2.5rem;
  }
  .items.menu-minum .minuman .card .harga {
    height: 15%;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 576px) {
  .items.menu-minum .minuman .card {
    width: 45%;
  }
  .items.menu-minum .minuman .card .judul {
    height: 15%;
    font-size: 2.5rem;
  }
  .items.menu-minum .minuman .card .harga {
    height: 15%;
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=menuMinum-style.css.map */