body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../../../../images/bg-admin.jpg');
}
h1 {
  text-align: center;
  font-size: 45px;
  color: yellow;
  text-shadow: 2px 2px 3px black;
  margin: 5px;
}
.container {
  margin: auto;
  background-color: rgba(119, 255, 160, 0.4);
  width: 90%;

  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}
.container h2 {
  font-size: 30px;
  margin-top: 10px;
  color: white;
  text-shadow: 2px 2px 5px black;
}
.container table {
  width: 100%;
}
/* STYLING TABLE DATA USER */
.container .kotak1 {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.kotak1 a {
  font-size: 16px;
  color: white;
  background-color: rgba(1, 1, 1, 0.6);
  padding: 10px;
  border-radius: 10px;
}
.kotak1 .inputcari {
  /* border: 1px solid yellow; */
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.kotak1 .inputcari input[type='text'] {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 3px 6px rgb(95, 95, 95);
}
.kotak1 .inputcari button {
  height: 30px;
  width: 20%;
  border-radius: 5px;
  font-size: 16px;
}

.container .kotak2 {
  display: flex;
  padding: 15px;
  justify-content: end;
}
.kotak2 a {
  font-size: 16px;
  color: white;
  background-color: rgba(1, 1, 1, 0.6);
  padding: 10px;
  border-radius: 10px;
}
.kotak2 .inputcari {
  /* border: 1px solid yellow; */
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.kotak2 .inputcari input[type='text'] {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 3px 6px rgb(95, 95, 95);
}
.kotak2 .inputcari button {
  height: 30px;
  width: 20%;
  border-radius: 5px;
  font-size: 16px;
}

.container .tbldatauser {
  /* border: 1px solid yellow; */
  height: 300px;
  overflow: scroll;
  background-color: white;
}
.container .tbldatauser table {
  border: grey;
}
.container .tbldatauser table thead {
  background: linear-gradient(blue, rgb(0, 87, 133));
  color: white;
}
.container .tbldatauser table tbody {
  background-color: rgb(240, 251, 255);
}
/* AKHIR STYLING TABLE DATA USER */

/* STYLING TABEL PESAN USER */
.container .tblpesanuser {
  height: 300px;
  background-color: white;
  overflow: scroll;
}
.container .tblpesanuser table thead {
  background: linear-gradient(blue, rgb(0, 87, 133));
  color: white;
}
.container .tblpesanuser table tbody {
  background-color: rgb(240, 251, 255);
}

/* AKHIR STYLING TABEL PESAN USER */

/* STYLING VALIDASI HAPUS DATA USER */

.disable-tbl-datauser {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
}
.disable-tbl-datauser .validasihapus {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  width: 350px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid grey;
  box-shadow: 3px 3px 6px black;
}
.validasihapus .image {
  width: 90px;
}
.validasihapus .judul {
  font-size: 18px;
  font-weight: bold;
}
.buttonopsi {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttonopsi button {
  width: 120px;
  height: 30px;
}
.buttonopsi .btnyakin {
  background-color: green;
  color: white;
  border: 2px solid rgb(0, 66, 0);
  border-radius: 5px;
  font-size: 16px;
}
.buttonopsi .btnbatal {
  background-color: red;
  color: white;
  border: 2px solid rgb(102, 0, 0);
  border-radius: 5px;
  font-size: 16px;
}
.buttonopsi .btnyakin:hover {
  background-color: rgb(0, 66, 0);
  border: 2px solid rgb(143, 169, 0);
}
.buttonopsi .btnbatal:hover {
  background-color: rgb(102, 0, 0);
  border: 2px solid red;
}
