body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../../../../images/bg-admin.jpg');
}
.container {
  margin: auto;
  width: 90%;
  /* border: 1px solid yellow; */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.itm {
  /* border: 1px solid yellow; */
  padding: 20px;
  width: 45%;
  border-radius: 10px;
  background-color: rgba(119, 255, 160, 0.4);
}

/* STYLING FORM LABEL, INPUT */
h2 {
  font-size: 40px;
  color: yellow;
  text-align: center;
  text-shadow: 2px 2px 6px black;
}
label,
input[type='text'],
textarea,
button {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}
h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: rgb(25, 94, 25);
  padding: 10px;
}
input[type='text'] {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgb(74, 74, 74);
}
textarea {
  width: 90%;
  height: 150px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgb(74, 74, 74);
}
button {
  width: 90%;
  height: 50px;
  background: linear-gradient(rgb(57, 189, 57), green);
  border: 4px solid rgb(0, 88, 0);
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
}
button:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

/* VALIDASI HAPUS DATA USER */
