@mixin font-label-style {
  .label {
    font-family: 'poppins';
    font-size: 2rem;
    font-weight: bold;
  }
}
@mixin input-style($height) {
  input {
    width: 100%;
    // margin: .5rem;
    height: $height;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: 'poppins';
  }
}
@mixin textarea-style($height) {
  textarea {
    width: 100%;
    // margin: .5rem;
    height: $height;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: 'poppins';
  }
}
@mixin button-style {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin-top: 1rem;
  font-family: 'poppins';
  .btn-kirim {
    background: linear-gradient(blue, black);
    border: 0.3rem solid rgb(255, 220, 156);
    height: 4rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    &:hover {
      color: yellow;
      transform: scale(1.05);
      background: linear-gradient(black, blue);
    }
  }
  .btn-form {
    background: linear-gradient(red, black);
    border: 0.3rem solid rgb(255, 220, 156);
    height: 4rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    &:hover {
      color: yellow;
      transform: scale(1.05);
      background: linear-gradient(black, red);
    }
  }
}
