
body {
	background-image: url("images/bg-container.jpg");
}
.home {
	background-color: ghostwhite;
	height: 700px;
	width: 850px;
	margin: 20px auto;
	border: 5px solid black;
}
.container {
	height: 200px;
	background-image: url("images/bg-brush.jpg");
	padding: 15px;
	box-sizing: border-box;
	border-bottom: 5px solid orangered;
}
.foto {
	height: 170px;
	width: 150px;
	border: 5px solid black;
}
.foto img {
	height: 170px;
	width: 150px;
}