@mixin makanan-style {
  // border: 1px solid grey;
  margin: 5px;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0px 0px 13px rgb(172, 88, 73);
}
@mixin card-style {
  //   border: 1px solid grey;
  width: 30%;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 13px rgb(252, 255, 155);
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid grey;
    img:hover {
      transform: scale(1.1);
      transition: 1.3s;
      cursor: pointer;
    }
  }
  .judul {
    padding: 0.5rem;
    /* background-color: rgb(205, 255, 188); */
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #8d0000;
    font-weight: bold;
    // border: 1px solid grey;
  }
  .harga {
    /* background-color: rgb(188, 192, 255); */
    font-size: 1.88rem;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    // border: 1px solid grey;
  }
  .deskripsi {
    font-size: 1.7rem;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    // border: 1px solid grey;
  }
  .button {
    height: 3.5rem;
    padding: 0.5rem;
    /* background-color: rgb(250, 202, 177); */
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    // border: 1px solid grey;
    a {
      text-align: center;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 1.6rem;
      color: white;
      height: 3rem;
      width: 15rem;
      border-radius: 0.5rem;
      background: linear-gradient(#039f67, #001c12);
      &:hover {
        text-align: center;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        color: white;
        height: 3rem;
        width: 15rem;
        border-radius: 0.5rem;
        background: linear-gradient(#039f67, #001c12);
        transform: scale(1.1);
        box-shadow: 0px 0px 13px rgb(231, 237, 38);
        transition: 0.5s;
      }
    }
  }
}
