
* {
    margin: 0;
    padding: 0;

}
html {
    font-size: 10px;
}
.container {
    border: 1px solid grey;
    width: 90%;
    margin: auto;
    // padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'navbar navbar'
    'landing-page landing-page'
    'menu-makan menu-makan'
    'menu-minum menu-minum'
    'order-online order-offline'
    'about-me about-me'
    'komentar komentar'
    'footer footer';
    
    .items {
        border: 1px solid grey;
        // margin: 2px;
        background-color: green;
    }
}