
body {
    /* background-color: #ddd; */
    background-image: url('../images/pattern.jpg');
}
.container {
    background-color: white;
    /* border: 1px solid black; */
    padding: 5px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'landing-page'
    'daftar-menu'
    'order'
    'about-me'
    'komentar'
    'footer';

    

}
.container .items {
    border: 1px solid grey;
}
.container .daftar-menu {
    background-color: #977110;
    padding: 1rem;
    box-sizing: border-box;
    height: 90rem;
}

