.container .komentar {
  /* height: 500px; */
  /* background-color: #FFB800; */
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'inputName'
    'inputEmail'
    'inputPesan'
    'buttonKirim';
  grid-template-rows: 10rem 10rem 16rem 7rem;
  background-color: #ffb800;
}
/* .komentar div {
  border: 1px solid black;
} */
/* styling input name */
.komentar .inputName {
  grid-area: inputName;
  display: flex;
  justify-content: center;
  align-items: center;
}
.komentar .inputName .input {
  /* border: 1px solid black; */
  width: 90%;
  height: 100%;
  box-sizing: border-box;
}

.komentar .inputName .input input[type='text'] {
  margin-top: 1rem;
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(255, 254, 188);
  border: 1px solid rgb(255, 208, 133);
}
.komentar .inputName .input form label {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
/* akhir styling input name */

/* styling input email */
.komentar .inputEmail {
  grid-area: inputEmail;
  display: flex;
  justify-content: center;
  align-items: center;
}
.komentar .inputEmail .input {
  /* border: 1px solid black; */
  width: 90%;
  height: 100%;
  box-sizing: border-box;
}

.komentar .inputEmail .input input[type='text'] {
  margin-top: 1rem;
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(255, 254, 188);
  border: 1px solid rgb(255, 208, 133);
}
.komentar .inputEmail .input form label {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
/* akhir styling input email */

/* styling input pesan */
.komentar .inputPesan {
  grid-area: inputPesan;
  display: flex;
  justify-content: center;
  align-items: center;
}
.komentar .inputPesan .input {
  /* border: 1px solid black; */
  width: 90%;
  height: 100%;
  box-sizing: border-box;
}

.komentar .inputPesan .input textarea {
  margin-top: 1rem;
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(255, 254, 188);
  border: 1px solid rgb(255, 208, 133);
}
.komentar .inputPesan .input form label {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
/* akhir styling input pesan */

/* styling button kirim */
.komentar .btn-kirim {
  grid-area: buttonKirim;
  /* border: 1px solid rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
}
.komentar .btn-kirim .button {
  /* border: 1px solid black; */
  width: 90%;
}
.komentar .btn-kirim .button button {
  background-color: #614a11;
  height: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
}
.komentar .btn-kirim .button button:hover {
  background-color: #86681f;
  height: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
}
